*{margin: 0;padding: 0;box-sizing: border-box;}

body{
    background-color: #181A1B;
    color: #fff;
    font-family: 'Marvel', sans-serif;
}


/*===========
1.header
==========*/
/* .header{} */
.logo{color: #fff247;}
.carousel-item{height: calc( 100vh - 55px)}